/* -------------------------------------------------- */
/*                     GLOBAL STYLES                  */
/* -------------------------------------------------- */

html, body {
    background-color: #F9FAFB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.6;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    color: #0A0A0A;
    margin: 0 0 0.5rem 0;
}

h1 { font-size: 2.2rem; text-align: center; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; font-weight: 500;}
h4 { font-size: 1.2rem; font-weight: 500; }

p, li { color: #4A5565; font-size: 1rem; }
small { font-size: 0.95rem; }
#span-bold { font-weight: bold; }

.hidden { display: none !important; }

/* -------------------------------------------------- */
/*                     ASSETS                         */
/* -------------------------------------------------- */
.icon-sign {
    width: 25px; 
    height: 25px;
    display: inline-block;  
    vertical-align: middle; 
}

#help-btn img, #close-btn img {
    width: 1.5rem;
    height: 1.5rem;
}

.badge {
    background-color: #193CB8;
    border-radius: 6px;
    color: white;
    font-family: Consolas, monospace;
    font-weight: bold;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

/* -------------------------------------------------- */
/*                     LAYOUT: CONTAINERS             */
/* -------------------------------------------------- */

.container {
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 14px;
    box-sizing: border-box;
    padding: 1rem;
}

.center-vertical-wrapper {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* -------------------------------------------------- */
/*                        HEADER                      */
/* -------------------------------------------------- */

#game-header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: relative;
    width: 100%;
}

#game-header h1 { margin: 0; }

#header-subtitle {
    color: #4A5565;
    font-size: 1rem;
    margin: 0.25rem 0 0 0;
    text-align: center;
}

/* -------------------------------------------------- */
/*                        SETUP                       */
/* -------------------------------------------------- */

#setup-frame {
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    width: 448px;
    max-width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

input[type="number"] {
    background-color: #f3f3f5;
    border-radius: 6px;
    height: 2.5rem;
    width: 100%;
    font-family: Consolas, monospace;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
}

#setup-frame input {
    margin-bottom: 10px;
}

/* -------------------------------------------------- */
/*                        BUTTONS                     */
/* -------------------------------------------------- */

button {
    background: #1c1b2a;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    /*padding: 8px 16px;*/
    font-weight: 600;
    height: 2.5rem;
}

#help-btn, #close-btn {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0;
}

#help-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#setup-frame button {
    width: 60%;
}

#results-frame button, #restart-btn {
    align-self: center;
    margin-top: 25px;
    padding: 8px 16px;
    width: auto;
}

#results-frame button {
    background: white;
    color: #4b4e58;
    border: 0.5px solid #d1d5db !important;
}

#results-frame button:hover {
    background-color: #f3f4f6;
}


/* -------------------------------------------------- */
/*                        OVERLAY                     */
/* -------------------------------------------------- */

#overlay {
    backdrop-filter: blur(2px);
    background: rgba(0,0,0,0.2);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

/* -------------------------------------------------- */
/*                      INSTRUCTIONS                  */
/* -------------------------------------------------- */

#instructions {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
                0 4px 6px -4px rgba(0,0,0,0.1);
    left: 50%;
    max-height: 80%;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 505px;
    max-width: 90%;
    z-index: 200;
}

#instructions-head {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/*----------Callouts---------*/
.callout {
    align-items: center;
    background: #EFF6FF;
    border: 1px solid #BEDBFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    padding: 10px;
}

.callout p {
    color: #193CB8;
    font-weight: 400;
    margin: 0;
}

.callout span {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding: 0 5px;
}

.callout span img {
    display: block;
    height: 16px;
    width: 16px;
}

.filter-blue {
    filter: invert(20%) sepia(61%) saturate(3103%)
            hue-rotate(220deg) brightness(88%) contrast(102%);
}

/* -------------------------------------------------- */
/*                     GAME STATUS                    */
/* -------------------------------------------------- */

#game-status {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.75rem 1rem;
}

#status-round,
#status-number {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

#status-number {
    justify-content: flex-end;
}

#badge-round {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid #dfe1e6;
    color: grey;
}


/* -------------------------------------------------- */
/*               CURRENT ROUND BEHAVIOUR              */
/* -------------------------------------------------- */

#currentTurn_frame {
    display: flex;
    flex-direction: column;       
    align-items: center;        
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#currentTurn_content {
    display: grid;
    grid-auto-flow: row;
    width: 30%;
    margin: 5px;
    gap: 10px;
    align-items: center;
    justify-items: center;
    min-height: 160px;
    height: 160px;
}

#currentTurn_content > * {
    margin: 0 !important;
}


.badge.purple {
    background-color: #6619b8;
}

.badge.blue {
    background-color: #193CB8;
}

.turn-badge {
    border-radius: 30px;
    width: 40%;
    padding: 6px 10px;
    text-align: center;
}

.turn-badge.blue {
    color: #1946B8 ; 
    background-color: #DBEAFE;  
}

.turn-badge.purple {
    color: #6619B8 ;
    background-color:#F3E8FF;
}


/* -------------------------------------------------- */
/*                     GAMEPLAY                       */
/* -------------------------------------------------- */

.gameplay {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    padding-bottom: 50px;
}

.gameplay .container {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#gameplay-frame {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-gameplay {
    background: #FFF;
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 14px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    min-height: 4rem;
    gap: 0.75rem;
    min-width: 300px;
}

.container-gameplay h4 {
    font-weight: normal !important;
}

.no-guesses {
    color: #99A1AF;
}

.guess {
    color: #4A5565;
    font-family: Consolas, monospace;
    font-weight: bold;
    font-weight: 700;
    padding-left: 1rem;
}

.feedback-group {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.guess-round {
    align-items: center;
    background-color: #F9FAFB;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    padding: 10px;
}


/* -------------------------------------------------- */
/*                   EXAMPLES / LEGEND                */
/* -------------------------------------------------- */

.instructions-container {
    background: #F9FAFB;
    border-radius: 10px;
    gap: 0.1rem;
    padding: 0.75rem 1rem;
}

.example-grid { display: flex; flex-direction: column; gap: 0.5rem; }
.example-row  { display: flex; flex-direction: column; gap: 0.25rem; }
.example-number { display: flex; justify-content: space-between; align-items: center; }
.example-context { font-size: 0.75rem; margin-top: -0.5rem; }

#legend-grid {
    align-items: center;
    display: grid;
    gap: 0 1rem;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    justify-content: left;
    padding: 0.75rem 1rem;
}

/* -------------------------------------------------- */
/*                       RESULTS                      */
/* -------------------------------------------------- */

#results-frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#results-grid {
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;
}

.result-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.winner-call {
    background: #DAFADF;
    color: #134728;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;        /* vertically center text */
    margin-top: 10px;
    min-height: 30px;           /* same as .guess-round */
    padding: 10px;              /* match .guess-round padding */
    font-weight: bold;
}


/* -------------------------------------------------- */
/*                     ERROR MESSAGES                 */
/* -------------------------------------------------- */

#error-msg, #setup-error-msg {
    color: #DC2626;
    font-size: 0.9rem;
    /*min-height: 1.5rem;*/
    margin-top: 5px;
}

/* -------------------------------------------------- */
/*                       MOBILE                        */
/* -------------------------------------------------- */

@media (max-width: 700px) {
    #gameplay-frame { flex-direction: column; }
    .container-gameplay { width: 100%; min-height: 200px; max-height: 300px; }
}
